<div class="row section-header">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <h1 class="">{{ 'forms.title.user_edit' | translate }}</h1>
    </div>
</div>
<div class="row section-body">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <form class="form-horizontal" ng-submit="update()">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{{ 'forms.label.name' | translate }}:</label>
                <div class="col-sm-9">
                    <input type="text" id="name" class="form-control" name="name" placeholder="{{ 'forms.label.name' | translate }}" ng-model="user.name">
                </div>
            </div>
            <div class="form-group">
                <label for="last-name" class="col-sm-3 control-label">{{ 'forms.label.last_name' | translate }}:</label>
                <div class="col-sm-9">
                    <input type="text" id="last-name" class="form-control" name="last-name" placeholder="{{ 'forms.label.last_name' | translate }}" ng-model="user.last_name">
                </div>
            </div>
            <div class="form-group">
                <label for="biography" class="col-sm-3 control-label">{{ 'forms.label.biography' | translate }}:</label>
                <div class="col-sm-9">
                    <textarea id="biography" class="form-control" name="biography" rows="4" placeholder="{{ 'forms.label.biography' | translate }}" ng-model="user.biography"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">{{ 'forms.label.email' | translate }}:</label>
                <div class="col-sm-9">
                    <input type="email" id="email" class="form-control" name="email" placeholder="{{ 'forms.label.email' | translate }}" ng-model="user.email">
                </div>
            </div>
            <div class="form-group">
                <label for="twitter" class="col-sm-3 control-label">{{ 'forms.label.twitter' | translate }}:</label>
                <div class="col-sm-9">
                    <input type="text" id="twitter" class="form-control" name="twitter" placeholder="{{ 'forms.placeholder.twitter' | translate }}" ng-model="user.twitter">
                </div>
            </div>
            <div class="form-group">
                <label for="url" class="col-sm-3 control-label">{{ 'forms.label.personalized_url' | translate }}:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon"><small>http://cursa.me/users/</small></span>
                        <input type="text" id="url" class="form-control" name="url" ng-model="user.url">
                    </div>
                    <p class="help-block"><small>{{ 'forms.help.personalized_url' | translate }}</small></p>
                </div>
            </div>
            <div class="form-group">
                <label for="new-pass" class="col-sm-3 control-label">{{ 'forms.label.new_password' | translate }}:</label>
                <div class="col-sm-9">
                    <input type="password" id="new-pass" class="form-control" name="new-pass">
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-pass" class="col-sm-3 control-label">{{ 'forms.label.confirm_new_password' | translate }}:</label>
                <div class="col-sm-9">
                    <input type="password" id="confirm-pass" class="form-control" name="confirm-pass">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <p><small>{{ 'forms.label.unsubscribe' | translate }} <a ui-sref="user_cancel">{{ 'forms.label.cancel_account' | translate }}.</a></small></p>
                </div>
            </div>
            <div class="form-buttons">
                <a ui-sref="home" class="btn btn-default">{{ 'forms.button.cancel' | translate }}</a>
                <button type="submit" class="btn btn-primary pull-right">{{ 'forms.button.update_profile' | translate }}</button>
                <div class="col-sm-4 pull-right">
                    <input type="password" class="form-control" name="pass" placeholder="{{ 'forms.placeholder.type_password' | translate }}" ng-model="user.password">
                </div>
            </div>
        </form>
    </div>
</div>