<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
            <div id="login-form">
                <div class="form-header">
                    <a class="pull-right" ui-sref="register" ng-if="$state.is('login')">Register</a>
                    <a class="pull-right" ui-sref="login" ng-if="$state.is('register')">Already an user? Log in →</a>
                </div>
                <div ui-view="form"></div>
                <div class="form-footer">
                    <p ng-if="$state.is('retrieve_pass') || $state.is('send_instructions')"><a ui-sref="login">Already an user? Log in</a></p>
                    <p ng-if="$state.is('retrieve_pass') || $state.is('send_instructions')"><a ui-sref="register">Not an user? Register</a></p>
                    <p ng-if="!$state.is('retrieve_pass') || $state.is('send_instructions')"><a ui-sref="retrieve_pass">Forgot your password?</a></p>
                    <p ng-if="!$state.is('send_instructions')"><a ui-sref="send_instructions">Didn't get the confirmation instructions?</a></p>
                    <p><a>Didn't get the unblocking instructions?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>