<div class="user-widget">
    <div class="header">
        <p><span class="glyphicon glyphicon-comment"></span> {{ 'users.profile.comment' | translate }}</p>
    </div>
    <div class="body">
        <form>
            <textarea id="comment" class="form-control" name="comment" placeholder="{{ 'forms.placeholder.leave_comment' | translate }}"></textarea>
        </form>
    </div>
    <div class="footer">
        <button type="button" class="btn btn-primary pull-right">{{ 'forms.button.comment' | translate }}</button>
        <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-paperclip"></span>{{ 'forms.button.file' | translate }}</button>
    </div>
</div>