<form>
    <h4>Haven't received your unblocking instructions?</h4>
    <p>Enter your email to follow-up your request.</p>
    <div class="form-group">
        <label for="email" class="sr-only">Email</label>
        <div class="input-group">
            <div class="input-group-addon"><span class="icon icon-mail"></span></div>
            <input type="email" name="email" class="form-control" id="user-email" placeholder="Email">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-lg-offset-10 col-md-offset-10 col-sm-offset-8 col-xs-offset-6">
            <button type="submit" class="btn btn-primary pull-right">Send Instructions</button>
        </div>
    </div>
</form>