@import url( '../../bower_components/bootstrap/less/bootstrap.less' );
@import url( "rolicons.less" );
@import url( https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic );

/*****************************
    SITE GENERAL STYLES
*****************************/
html, body                      { height: 100%; }

/*****************************
    LOGIN STATE STYLES
*****************************/
.login-state                    { background-image: url(https://cursame.s3.amazonaws.com/uploads/network/image_front/343/shutterstock_148509110.jpg); background-position: center center; background-repeat: no-repeat; }
.login-state #wrapper           { height: 100%; background-color: rgba(0,0,0,0.3); }
#login-form                     { margin-top: 50px; background-color: rgba(250,250,250,0.95); border-radius: 3px; box-shadow: 0 0 1px rgba(0,0,0,0.15), 0 1px 15px rgba(0,0,0,0.3); }
#login-form form                { padding: 20px 15px; }
#login-form h4                  { margin-top: 0; margin-bottom: 20px; }
.form-header,
.form-footer                    { padding: 20px 15px; background-color: #fff; border: 0 solid #d5d5d5; overflow: hidden; }
.form-header                    { border-radius: 3px 3px 0 0; border-bottom-width: 1px; }
.form-footer                    { border-radius: 0 0 3px 3px; border-top-width: 1px; }