<nav id="main-header" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home"><img ng-src="{{ user.avatar }}" alt="{{ user.name }}">{{ user.name }}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="">{{ 'main.menu.help' | translate }}</a></li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="logout">{{ 'main.menu.logout' | translate }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div id="main-menu" class="col-lg-3 col-md-3 col-sm-4 col-xs-4"></div>
        <div id="main-container" class="col-lg-9 col-md-9 col-sm-8 col-xs-8" ui-view="main-container"></div>
    </div>
</div>