<nav id="main-header" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div id="app-user" class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="home"><img ng-src="{{ me.avatar }}" alt="{{ me.name + ' ' + me.last_name }}">{{ me.name + ' ' + me.last_name }}</a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="http://myaccount.zendesk.com/account/dropboxes/2830039812" alt="{{ 'main.menu.help' | translate }}" target="_blank"><span class="glyphicon glyphicon-user"></span>{{ 'main.menu.help' | translate }}</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a ui-sref="super_administration">{{ 'main.menu.superadmin' | translate }}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a ui-sref="administration">{{ 'main.menu.admin' | translate }}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a ui-sref="user_profile({ profile : me.url })">{{ 'main.menu.profile' | translate }}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a ui-sref="user_edit">{{ 'main.menu.edit_profile' | translate }}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a ui-sref="logout">{{ 'main.menu.logout' | translate }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div id="main-menu" class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <ul>
                <li><a ui-sref="home"><span class="glyphicon glyphicon-home"></span>{{ 'main.menu.home' | translate }}</a></li>
                <li><a ui-sref="activities"><span class="glyphicon glyphicon-check"></span>{{ 'main.menu.activities' | translate }}</a></li>
                <li><a ui-sref="courses"><span class="glyphicon glyphicon-list"></span>{{ 'main.menu.courses' | translate }}</a></li>
                <li><a ui-sref="grades"><span class="glyphicon glyphicon-stats"></span>{{ 'main.menu.grades' | translate }}</a></li>
                <li><a ui-sref="calendar"><span class="glyphicon glyphicon-calendar"></span>{{ 'main.menu.calendar' | translate }}</a></li>
                <li><a ui-sref="library"><span class="glyphicon glyphicon-book"></span>{{ 'main.menu.library' | translate }}</a></li>
                <li><a ui-sref="community"><span class="glyphicon glyphicon-user"></span>{{ 'main.menu.community' | translate }}</a></li>
                <li><a ui-sref="radar"><span class="glyphicon glyphicon-map-marker"></span>{{ 'main.menu.radar' | translate }}</a></li>
            </ul>
        </div>
        <div id="main-container" class="col-lg-10 col-md-10 col-sm-8 col-xs-8" ui-view="main-container"></div>
    </div>
</div>