<div class="user-widget">
    <div class="body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a class="author" ui-sref="user_profile({ profile : publication.user.url })" ui-sref-opts="{ reload: true }"><img class="user-avatar" ng-src="{{ publication.user.avatar }}" alt="{{ user.name + ' ' + user.last_name }}"></a>
                <div class="user-header">
                    <p class="user-name"><a ui-sref="user_profile({ profile : publication.user.url })" ui-sref-opts="{ reload: true }">{{ publication.user.name + ' ' + publication.user.last_name }}</a></p>
                    <time>{{ publication.date | relativeDate }}</time>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>{{ publication.content }}</p>
                <p class="likes"><a ui-sref="like({ id : publication.id })">{{ 'base.label.like' | translate }}</a></p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div ng-repeat="comment in comments">
                <cursame-comment comment="comment"></cursame-comment>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-form">
                <a class="avatar" ui-sref="user_profile({ profile : me.url })" ui-sref-opts="{ reload: true }"><img class="user-avatar" ng-src="{{ me.avatar }}" alt="{{ me.name + ' ' + me.last_name }}"></a>
                <input type="text" name="comment" class="form-control" placeholder="{{ 'forms.placeholder.write_comment' | translate }}">
                <button type="button" class="btn btn-default btn-upload"><span class="glyphicon glyphicon-paperclip"></span></button>
            </div>
        </div>
    </div>
</div>