<div class="question-item" ng-repeat="question in questions">
    <input type="text" name="question" class="form-control" ng-model="question.content" placeholder="{{ 'forms.placeholder.question' | translate }}">
    <span class="glyphicon glyphicon-remove" ng-click="remove($index)"></span>
    <div class="question-answers" ng-repeat="answer in question.answers">
        <input type="text" name="answer" class="form-control answer" ng-model="answer.content" placeholder="{{ 'forms.placeholder.answer' | translate }}">
        <div class="answer-controls">
            <span class="btn btn-default btn-xs"><input type="checkbox" name="correct" value="1" ng-model="answer.correct">{{ 'buttons.correct' | translate }}</span>
            <button type="button" class="btn btn-default btn-xs" ng-click="removeAnswer( $parent.$index, $index )">{{ 'buttons.remove' | translate }}</button>
        </div>
    </div>
    <div class="question-footer">
        <span ng-click="addAnswer( $index )">{{ 'base.label.add_answer' | translate }}</span>
    </div>
</div>
<button type="button" class="btn btn-default" ng-click="add()">{{ 'forms.button.add_question' | translate }}</button>