<div class="row body-container">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
            <div class="state-header">
                <h1><span class="glyphicon glyphicon-list"></span>{{ 'base.label.courses' | translate }}</h1>
                <a ui-sref="courses.add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>{{ 'buttons.new' | translate }}</a>
                <ul class="app-submenu">
                    <li ng-class="{active:$state.is('courses')}"><a ui-sref="courses">{{ 'main.submenu.active' | translate }}</a></li>
                    <li ng-class="{active:$state.is('courses_finished')}"><a ui-sref="courses_finished">{{ 'main.submenu.finished' | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>